@page
@model KE03_INTDEV_SE_1_Base.Pages.Producten.P3Model
@{
}

<div class="Pagina">
    <div class="productpagina">
        <h1 class="product-titel">Krukas origineel Piaggio</h1>
        <hr>

        <div class="product-container">
            <div class="product-links">
                <img class="product-afbeelding"
                     src="https://www.piaggio-parts.nl/media/catalog/product/cache/6/thumbnail/500x500/9df78eab33525d08d6e5fb8d27136e95/7/0/70649.jpg" 
                     alt="Krukas origineel Piaggio 2-takt 4316255" />
            </div>

            <div class="product-rechts">
                <div class="prijs">€ 209,–</div>

                <label for="aantal">Aantal:</label>
                <input type="number" id="aantal" class="aantal-input" value="1" min="1">

                <button class="winkelwagen-knop">In winkelwagen</button>
            </div>
        </div>

        <div class="product-omschrijving">
            <h2>Productomschrijving</h2>
            <p>
                Deze originele Piaggio krukas is een essentieel onderdeel voor een betrouwbare motorprestatie. Ontworpen voor 2-takt motoren, 
                garandeert deze krukas een optimale balans en een soepele rotatie. Dankzij de hoogwaardige afwerking en duurzame materialen is 
                hij perfect geschikt voor zowel dagelijks gebruik als sportieve ritten. Een perfecte pasvorm zorgt voor eenvoudige installatie en 
                langdurige prestaties.


            </p>
        </div>
    </div>
</div>




