@page
@model KE03_INTDEV_SE_1_Base.Pages.Producten.P8Model
@{
}
<div class="Pagina">
    <div class="productpagina">
        <h1 class="product-titel">Moer voor draaideind M10x1</h1>
        <hr>

        <div class="product-container">
            <div class="product-links">
                <img class="product-afbeelding"
                     src="https://cdn.webshopapp.com/shops/230642/files/335055421/image.jpg" 
                     alt="Moer voor draaideind M10x1 - verzinkt (sleutelwijdte 14)" />
            </div>

            <div class="product-rechts">
                <div class="prijs">€ 0.99,–</div>
                <form method="post" asp-page-handler="ToevoegenAanWinkelwagen">
                    <input type="hidden" name="productId" value="8" />
                    <input type="hidden" name="Product" value="Moer voor draaideind M10x1" />
                    <input type="hidden" name="prijs" value="0.99" />

                    <label for="aantal">Aantal:</label>
                    <input type="number" id="aantal" name="aantal" value="1" min="1" class="aantal-input" />

                    <button type="submit" class="winkelwagen-knop">In winkelwagen</button>
                </form>
            </div>
        </div>

        <div class="product-omschrijving">
            <h2>Productomschrijving</h2>
            <p>
                Deze verzinkte moer voor draaideind M10x1 met sleutelwijdte 14 is ontworpen 
                voor een stevige en betrouwbare bevestiging. Gemaakt van hoogwaardig, corrosiebestendig
                materiaal, biedt deze moer uitstekende duurzaamheid en bescherming tegen roest. Ideaal voor gebruik in 
                automotive, bouw- en industriële toepassingen waar precisie en veiligheid essentieel zijn. Dankzij de 
                standaard maatvoering is hij eenvoudig te monteren met een sleutel of ratel.


            </p>
        </div>
    </div>
</div>
