@page
@model KE03_INTDEV_SE_1_Base.Pages.Producten.P9Model
@{
}

<div class="Pagina">
    <div class="productpagina">
        <h1 class="product-titel">Getangde aandrijfriem</h1>
        <hr>

        <div class="product-container">
            <div class="product-links">
                <img class="product-afbeelding"
                     src="https://m.media-amazon.com/images/I/61wffVHGcML.jpg" 
                     alt="Getangde aandrijfriem" />
            </div>

            <div class="product-rechts">
                <div class="prijs">€ 64.99,–</div>
                <form method="post" asp-page-handler="ToevoegenAanWinkelwagen">
                    <input type="hidden" name="productId" value="9" />
                    <input type="hidden" name="Product" value="Getangde aandrijfriem" />
                    <input type="hidden" name="prijs" value="64.99" />

                    <label for="aantal">Aantal:</label>
                    <input type="number" id="aantal" name="aantal" value="1" min="1" class="aantal-input" />

                    <button type="submit" class="winkelwagen-knop">In winkelwagen</button>
                </form>
            </div>

        </div>

        <div class="product-omschrijving">
            <h2>Productomschrijving</h2>
            <p>
                Deze getangde aandrijfriem is speciaal ontworpen voor optimale krachttransmissie in 
                diverse mechanische systemen. Dankzij het getande profiel biedt de riem een uitstekende 
                grip en minimale slip, wat zorgt voor efficiënte werking en een langere levensduur van de aandrijving.
                Gemaakt van duurzaam, slijtvast materiaal, is deze aandrijfriem geschikt voor toepassingen waar precisie en
                betrouwbaarheid cruciaal zijn, zoals in motoren, machines en transportsystemen.

            </p>
        </div>
    </div>
</div>
