@page
@model KE03_INTDEV_SE_1_Base.Pages.AfrekenenModel
@{
    ViewData["Title"] = "Home page";
}

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
</div>
<br />

@* <form action="index.cshtml" method="POST" voor fotos: enctype="multipart/form-data"> *@
<form>
    @* Persoon *@
    <label for="Aanhef">Aanhef</label> <br />
    
    <label for="Mevrouw">Mevrouw</label>
    <input type="radio" id=" Mevrouw" value="Mevrouw" name="Aanhef"/>

    <label for="De-heer">De heer</label>
    <input type="radio" id=" De-heer" value="De heer" name="Aanhef" />

    <label for="Geen">Liever geen van beide</label>
    <input type="radio" id=" Geen" value="Geen" name="Aanhef" /> <br /><br />


    <label for="Voornaam">Vooraam</label>
    <input type="text" id="Voornaam" placeholder="Lisa" required /> <br /><br />

    <label for="Tussenvoegsel">Tussenvoegsels (optioneel)</label>
    <input type="text" id="Tussenvoegsel" placeholder="Bijvoorbeeld: van der" /> <br /><br />

    <label for="Achternaam">Achteraam</label>
    <input type="text" id="Achternaam" placeholder="Janssen" required /> <br /><br />

    <label for="E-mail">Email</label>
    <input type="text" id="E-mail" placeholder="lisa@hotmail.com" required /> <br /><br />
    <br />

    
    <hr />

    <input type="reset"/> 
    <br />

    <div clss="afrekenen1">
        <button class="Verder">
            <a asp-area="" asp-page="/Afrekenen/Afrekenen1">Verder</a>
        </button>
    </div>

</form>