@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="icon" type="image/png" href="/favicon.png" />

<div class="aanbieding">
    <h3 class="zomer-sale">Summer sale</h3>
    <h4>Tot wel 20% korting</h4>
</div>

<div class="box-container">
    <div class="box" id="box1">
        <a class="P1" asp-area="" asp-page="/producten/P1">
            <button class=" button button1">
                <img src="https://www.gnesato.com/wp-content/uploads/2021/07/14706106.jpg" alt="Gegroefde kogellager" height="130px" width="130px" />
                <p>Gegroefde kogellager</p>
            </button>
        </a>
    </div>
    <div class="box" id="box2">
        <a class="P2" asp-area="" asp-page="/producten/P2">
            <button class=" button button2">
                <img src="https://www.motorpromo.nl/img/large/16668658591.jpg" alt="(5B2f) Tandwiel smal achter 70 tand as 47mm st=6x24" height="130px" width="130px" />
                <p>Tandwiel smal achter</p>
            </button>
        </a>
    </div>
    <div class="box" id="box3">
        <a class="P3" asp-area="" asp-page="/producten/P3">
            <button class=" button button3">
                <img src="https://www.piaggio-parts.nl/media/catalog/product/cache/6/thumbnail/500x500/9df78eab33525d08d6e5fb8d27136e95/7/0/70649.jpg" alt="Krukas origineel Piaggio 2-takt 4316255" height="130px" width="130px" />
                <p>Krukas origineel Piaggio</p>
            </button>
        </a>
    </div>

</div>

<div class="box-container">

    <div class="box" id="box4">
        <a class="P4" asp-area="" asp-page="/producten/P4">
            <button class=" button button4">
                <img src="https://www.autofirst-nederland.nl/storage/QLt2kxR4kUWMHQopGhI7xu3j5ZCoKL9EjN98ouHu.jpg" alt="Nokkenkas" height="130px" width="130px" />
                <p>Nokkenkas</p>
            </button>
        </a>
    </div>

    <div class="box" id="box5">
        <a class="P5" asp-area="" asp-page="/producten/P5">
            <button class=" button button5">
                <img src="https://www.team-vag.nl/742-large_default/drijfstang-italianrp-18-20vt-set-van-4-stuks.jpg" alt="Drijfstang ItalianRP 1.8 20VT" height="130px" width="130px" />
                <p>Drijfstang ItalianRP</p>
            </button>
        </a>
    </div>
    <div class="box" id="box6">
        <a class="P6" asp-area="" asp-page="/producten/P6">
            <button class=" button button6">
                <img src="https://www.kabeldirect.nl/media/image/41/b5/44/0-252Fd-252Fd-252F7-252F0dd70d9911eef847a6c4bae15a2758de7967bc01_KD15990_1.jpg" alt="Professionele Netwerkkabel Krimptang - RJ45, RJ11, RJ12, RJ10 - met Ratelmechanisme - Metaal" height="130px" width="130px" />
                <p>Professionele netwerkkabel krimptang</p>
            </button>
        </a>
    </div>

</div>

<div class="box-container">
    <div class="box" id="box7">
        <a class="P7" asp-area="" asp-page="/producten/P7">
            <button class=" button button7">
                <img src="https://derijk.eu/wp-content/uploads/2018/12/1493-016160.jpg" alt="BOUT M16 x 130 + MOER M16 + 2 RING M16" height="130px" width="130px" />
                <p>Bout M16 x 130 + moer M16 + 2 ring M16</p>
            </button>
        </a>
    </div>

    <div class="box" id="box8">
        <a class="P8" asp-area="" asp-page="/producten/P8">
            <button class=" button button8">
                <img src="https://cdn.webshopapp.com/shops/230642/files/335055421/image.jpg" alt="Moer voor draaideind M10x1 - verzinkt (sleutelwijdte 14)" height="130px" width="130px" />
                <p>Moer voor draaideind M10x1</p>
            </button>
        </a>
    </div>

    <div class="box" id="box9">
        <a class="P9" asp-area="" asp-page="/producten/P9">
            <button class=" button button9">
                <img src="https://m.media-amazon.com/images/I/61wffVHGcML.jpg" alt="Getangde aandrijfriem" height="130px" width="130px" />
                <p>Getangde aandrijfriem</p>
            </button>
        </a>
    </div>
</div>

